.active-link {
    font-weight: bold;
    text-transform: uppercase;
}

.nav-item {
    text-decoration: none;
}

.navbar-nav {
    margin-left: 50px;
}

.tab-image {
    max-width: 700px;
    max-height: 400px;
}

.tag-button {
    width:150px;
}

@media only screen and (max-width: 993px) {
    .navbar-nav {
        margin-left: 0px;
        margin-bottom: 20px;
    }
  }