
/* override just a couple bootstrap classes for my needs, makes more just to do it here than a styled componenet */
.active-link {
    font-weight: bold;
    text-transform: uppercase;
}

.nav-item {
    text-decoration: none;
}

.navbar-nav {
    margin-left: 50px;
}



@media only screen and (max-width: 993px) {
    .navbar-nav {
        margin-left: 0px;
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 575px) {
    #notes-header {
        text-align: center;
    }
}